body {
  font-size: 18px;
}

@media screen and (max-width: 1080px) {
  body {
      font-size: 15px;
  }
}


.item-cell>strong {
  font-size: 1.7em;
  font-weight: 1000;
}

.item-cell>em {
  font-size: 1.1em;
}

.main-container {
  /* display:flex;       */
  height: auto;
  padding-top: 10em;
  padding-left: 17%;
  padding-right: 17%;
  background-color: white;
}

.menu {
  display: none;
}

.contents {
  height: 1000px;
}

.category {
  float: left;
  width: 100%;
  margin-bottom: 5vh;
}

.item-container .category .item-cell {
  margin-bottom: 3vh;
  float: left;
  width: 50%;
  padding-left: 1.5%;
  padding-right: 1.5%;
}

.category-title-bg {
  width: 40%;
  background-color: black;
  margin-bottom: 2vh;
}

.category-title {
  font-size: 3em;
  font-weight: 800;
  padding-inline-start: 1em;
  padding-block-end: 0.2em;
  margin-bottom: 8px;
  color: white;
}

@media screen and (max-width: 1080px) {
  
  .main-container {
      padding-left: 10%;
      padding-right: 10%;
  }

  .item-container .category .item-cell {
      width: 100%;
      padding-left: 3%;
      padding-right: 3%;
  }

  .category-title-bg {
      width: 70%;
      background-color: black;
      margin-bottom: 2vh;
  }

  .category-title {
      font-size: 2em;
      padding-inline-start: 0.3em;
  }
}

.item-cell {
  filter: grayscale(100%);
  position: relative;
  display: block;
  word-wrap: break-word;
  box-sizing: border-box;
  background-color: white;

  transition: 0.5s;
}

.item-cell:hover {
  filter: grayscale(0%);
}

.item-thumb {
  border: 2px solid black;
  width: 100%;
}

/* 
.item-thumb:hover {
  clip-path: inset(5% 5% 5% 5%);
  transition: clip-path;
} */

.caption {
  display: block;

}

.item:hover {
  background-color: gray;
  transition: ease-in 0.3s;
}